.header {
  height: 80px;

  background: white;

  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
}

.search {
  width: 450px;

  background: #f8fafc;

  border-radius: 12px;

  display: flex;
  align-items: center;

  padding: 12px;
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}