<div class="dashboard">

  <section class="hero-section">

    <div>
      <h1>Good Morning, Sameer 👋</h1>

      <p>
        Let's continue your preparation today.
      </p>
    </div>

    <div class="streak-card">
      🔥 7 Day Streak
    </div>

  </section>

  <section class="top-cards">

    <app-continue-learning-card>
    </app-continue-learning-card>

    <app-daily-challenge-card>
    </app-daily-challenge-card>

  </section>

  <section>
    <app-categories-grid></app-categories-grid>
  </section>

  <section class="bottom-section">

    <app-popular-questions>
    </app-popular-questions>

    <app-recent-activity>
    </app-recent-activity>

  </section>

</div>